#container {
  background-color: #465659;
  width: 300px;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  color: #D5E3E6;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  border:2px solid #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  padding: 10px;
}

#controls div, #timeInfo div {
  display: table-cell;
  vertical-align:middle;
}

#volumeSlider {
  width:70px;
  height:10px;
  background-color: #DBDBDB;
}

#volumeSlider div {
  height:inherit;
}

#timeInfo {
  margin: 5px 0px;
} 

#timeBar {
  width:250px;
  height:10px;
  background-color: #DBDBDB;
}

#timeBar div {
  height:inherit;
}

#volumeIcon{
  padding-left: 20px;
  padding-right: 10px;
}

.filler {
  width: inherit;
  background-color: #BAB9B8;
}

.button {
  background-color: #8C8A89;
  padding: 2px;
  border-radius: 32px;
  width:32px;
  height:32px;
  cursor: pointer;
}

.button img {
  width:16px;
  margin-left: 8px;
  margin-top:4px;
}